.box {
  padding: 20px;
}

.item {
  height: 60px;
  width: 60px;
  background: darkred;
  display: inline-block;
  margin: 0 10px;
  position: relative;
  
  &:after {
    content:'';
    display: block;
    width: 2px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: orange;
  }
}