

<div class="container" fxLayout="row">
  
  <div class="menu" fxFlex="300px">
    <a [routerLink]="[{ outlets: { central: ['pagina-central-1'] } }]" routerLinkActive="active">Central 1</a>
    <a [routerLink]="[{ outlets: { central: ['pagina-central-2'] } }]" routerLinkActive="active">Forms Template Driven (central 2)</a>
    <a [routerLink]="[{ outlets: { direita: ['pagina-direita-1'] } }]" routerLinkActive="active">Direita 1</a>
    <a [routerLink]="[{ outlets: { direita: ['pagina-direita-2'] } }]" routerLinkActive="active">Forms Reactive (direita 2)</a>
  </div>
  
  <div class="panelCenter" fxFlex="">
    <router-outlet name="central"></router-outlet>
  </div>
  
  <div class="panelRight" fxFlex="">
    <router-outlet name="direita"></router-outlet>
  </div>
  
</div>


