/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body{
  border: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.full-width {
  width: 100%;
}

.form-um {
  
  @mixin pontoForm(){
    display: block;
    content: ' ';
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: gray;
    position: absolute;
    top: 50%;
    transform: translate(calc(-100% - 5px), -50%);
  }
  
  .ng-invalid:not(.mat-select)::before {
    @include pontoForm();
    background: darkred;
  }
  .ng-valid:not(.mat-select)::before {
    @include pontoForm();
    background: green;
  }
  
}
